
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3498db, #e74c3c);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

#loadingBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(192, 192, 192, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingCard {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 375px) {
    .container {
        max-width: 90%;
    }

    .title {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}
